.LoginFormField {
  background-color: white;
}

.Header {
  margin-top: 62px;
  margin-bottom: 60px;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.wrapper div {
  height: 50px;
  background-color: white;
}

.element1 {
  margin-right: 100px;
  vertical-align: bottom;
}

.element2 div {
  margin-right: 100px;
}
